

 /* CSS FOR 1for TODOAPP. */
 

/* .kg-button {
    min-width: 80px;
}
 */



/* // aniket zade */
 /* CSS FOR CALCILATOR APP outer div only */

 .calculator{
    border:1px solid rgb(135, 128, 128);
    width:200px;
    border-radius:5px;
    margin-top: 80px;
    background:mintcream;
    box-shadow: 5px 5px 10px 2px;
    translate: 3d();
 }

 
